.item {cursor: pointer;}

#assetBodyTable td{
    word-break: break-word;
}

#assetBodyTable tr :nth-child(1){
    word-break: normal;
}

#assetBodyTable tr:nth-child(1){
    border-bottom: solid black 1px;
}

.version{
    font-size: large;
    margin-left: 0.6rem;
}